body{
    background-color: rgba(2, 1, 1, 0.938);
    color: #fff;
}
.navbar{
    /* navigation bar line */
    border-bottom: #008ed6 3px solid;
    opacity: 0.8p;
}
#home-section{
    background: url('../images/image5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    /* back image minimum 
    min-height: 700px;*/background-attachment: fixed;


}

#home-section.dark-overlay{
    
    /* main cross point */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    background-color: aqua;
}

#home-section.home-inner{
padding-top: 150px;
}
